html
    head
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body.container
        h2 Login    
        p Please Login to Continue
        p= message
        form(method="POST").form-group
            label(for="username") Username
            input(type="text",name="username",placeholder="Username").form-control
            label(for="password") Password
            input(type="password",name="password",placeholder="Password").form-control
            br
            input(type="submit" value="login").btn.btn-primary
        
        p Don't have an account?
        p register
            a(href="/auth/register")  here
        p 
            a(href="/forgot-password") forgot password?
